$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  padding: 0.2em 0;
  background: #ccc;
  color: #000;
}

body {
  background-color: #fafafa;
}

#selector-container {
  padding: .5em 0;
  background-color: #6694ff;
  font: {
    size: 3em;
  }
  text-align: center;
}

.translation {
  padding: 10px 0;
  font: {
    size: 2em;
  }
  text-align: center;
}

#warning-container {
  margin-top: 20px;
  font: {
    size: 2em;
  }
  text-align: center;

  a {
    color: #bfbfbf;
  }
}
